## 와인 품질 데이터
- 와인 성분 변수들을 이용하여 품질을 예측하는 유명한 데이터 <br> <br>

# 과제 진행 하실 때, 여기에 직접하시면 전체가 수정됩니다..<br>
#따로 다운로드 받으셔서 진행해주시기바랍니다.

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings(action='ignore')

#### 데이터 불러오기 및 앞부분 확인

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
data = pd.read_csv('/content/gdrive/MyDrive/wine.csv')
data.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

#### 데이터 shape 확인

In [5]:
data.shape

(5497, 14)

#### 컬럼명 확인

In [6]:
data.columns

Index(['index', 'quality', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'type'],
      dtype='object')

#### NaN, 데이터 타입, 개수 확인

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5497 entries, 0 to 5496
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 5497 non-null   int64
 1   quality               5497 non-null   int64
 2   fixed acidity         5497 non-null   float64
 3   volatile acidity      5497 non-null   float64
 4   citric acid           5497 non-null   float64
 5   residual sugar        5497 non-null   float64
 6   chlorides             5497 non-null   float64
 7   free sulfur dioxide   5497 non-null   float64
 8   total sulfur dioxide  5497 non-null   float64
 9   density               5497 non-null   float64
 10  pH                    5497 non-null   float64
 11  sulphates             5497 non-null   float64
 12  alcohol               5497 non-null   float64
 13  type                  5497 non-null   object
dtypes: float64(11), int64(2), object(1)
memory usage: 601.4+ KB

#### 통계값 확인

In [8]:
data.describe()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000
mean,2748.000000,5.818992,7.210115,0.338163,0.318543,5.438075,0.055808,30.417682,115.566491,0.994673,3.219502,0.530524,10.504918
std,1586.991546,0.870311,1.287579,0.163224,0.145104,4.756676,0.034653,17.673881,56.288223,0.003014,0.160713,0.149396,1.194524
min,0.000000,3.000000,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.740000,0.220000,8.000000
25%,1374.000000,5.000000,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,78.000000,0.992300,3.110000,0.430000,9.500000
50%,2748.000000,6.000000,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994800,3.210000,0.510000,10.300000
75%,4122.000000,6.000000,7.700000,0.400000,0.390000,8.100000,0.064000,41.000000,155.000000,0.996930,3.320000,0.600000,11.300000
max,5496.000000,9.000000,15.900000,1.580000,1.660000,65.800000,0.610000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000

#### quality의 unique 확인

In [10]:
data.quality.unique()

array([5, 6, 7, 8, 4, 3, 9])

#### quality별로 개수 확인

In [20]:
data.groupby("quality").size()

quality
3      26
4     186
5    1788
6    2416
7     924
8     152
9       5
dtype: int64

#### 중요하다고 생각되는 부분만 추출

In [11]:
df=data[['quality','residual sugar','pH','alcohol','type']]
df.head(5)

   quality  residual sugar    pH  alcohol   type
0        5             6.8  3.44     10.2  white
1        5             2.4  3.19      9.5    red
2        5             2.0  3.05     10.9  white
3        6             6.0  3.26     10.8  white
4        6             9.5  3.04     10.9  white

#### groupby를 통해 quality로 묶고 통계값(min,mean,max) 확인

In [14]:
df.groupby("quality").agg(["min", "max", "mean"])

        residual sugar                     pH                 alcohol        \
                   min    max      mean   min   max      mean     min   max
quality
3                 1.15  16.20  5.203846  2.87  3.63  3.250385     8.0  12.6
4                 0.70  15.40  4.145430  2.74  3.90  3.228602     8.6  13.5
5                 0.60  23.50  5.792422  2.79  3.79  3.213384     8.0  14.9
6                 0.70  65.80  5.535141  2.74  4.01  3.219611     8.4  14.0
7                 0.90  19.25  4.748918  2.84  3.82  3.228333     8.6  14.2
8                 0.80  14.80  5.581579  2.94  3.57  3.216711     8.8  14.0
9                 1.60  10.60  4.120000  3.20  3.41  3.308000    10.4  12.9


              mean
quality
3        10.251923
4        10.180376
5         9.846875
6        10.606015
7        11.383864
8        11.680921
9        12.180000

#### groupby를 통해 quality/type로 묶고 개수 세기

In [17]:
df.groupby(["quality", "type"]).count()

               residual sugar    pH  alcohol
quality type
3       red                 9     9        9
        white              17    17       17
4       red                41    41       41
        white             145   145      145
5       red               571   571      571
        white            1217  1217     1217
6       red               535   535      535
        white            1881  1881     1881
7       red               169   169      169
        white             755   755      755
8       red                13    13       13
        white             139   139      139
9       white               5     5        5

#### 알코올 함량을 기준으로 오름차순 정리 (20개)

In [21]:
df.sort_values('alcohol').head(20)

      quality  residual sugar    pH  alcohol   type
4254        3            5.10  3.42      8.0  white
5077        5            0.95  3.34      8.0  white
1768        3            2.10  3.16      8.4    red
4176        5            3.30  3.16      8.4  white
479         6            1.80  2.86      8.4    red
3725        5           20.15  3.01      8.5  white
3772        6           18.00  2.98      8.5  white
172         6           18.00  2.98      8.5  white
255         5            1.60  3.15      8.5    red
3062        5            9.10  3.37      8.5  white
2377        5            1.30  3.19      8.5  white
1427        6            5.90  3.47      8.5  white
4249        4           10.80  3.08      8.6  white
3155        4            4.20  3.25      8.6  white
4224        6            4.90  3.03      8.6  white
3046        5           10.20  3.06      8.6  white
3640        7           14.60  3.21      8.6  white
30          5           16.00  3.13      8.6  white
3656        5           23.50  2.98      8.6  white
3355        4           13.30  3.06      8.6  white

#### 알코올 함량을 기준으로 내림차순 정리 (20개)

In [22]:
df.sort_values('alcohol', ascending=False).head(20)

      quality  residual sugar    pH  alcohol   type
2787        5             7.5  2.98    14.90    red
5340        7             1.6  3.12    14.20  white
4964        7             8.4  3.26    14.05  white
4059        6             1.8  3.68    14.00    red
3005        7             1.9  3.21    14.00  white
4150        7             2.6  3.39    14.00  white
1963        6             2.6  3.32    14.00    red
984         8             1.2  3.33    14.00  white
876         7             2.1  3.71    14.00    red
2142        6             1.8  3.68    14.00    red
3848        8             1.8  3.50    14.00    red
5160        6             7.5  3.38    14.00  white
3265        7             1.9  3.21    14.00  white
5448        7             1.4  3.10    13.90  white
4492        7             2.6  3.36    13.90  white
1463        7             2.4  3.41    13.90  white
196         6             3.4  3.53    13.80  white
2587        6             4.6  3.33    13.80  white
3342        7             4.5  3.42    13.70  white
5456        7             3.1  3.41    13.70  white

#### quailty가 7 이상인 데이터 추출 (20개)

In [24]:
df[df.quality >= 7].head(20)

     quality  residual sugar    pH  alcohol   type
11         7            1.10  3.32     10.9  white
12         7            6.85  3.03     11.9  white
17         7            4.80  3.17     12.2  white
25         8            3.90  3.24     12.6  white
45         7            1.40  3.22     11.5  white
46         7           12.80  3.14      9.1  white
53         7            1.80  3.08     13.7  white
54         8            6.10  3.08     12.5  white
55         7           14.60  3.21      8.6  white
60         7            3.60  3.31     13.1  white
63         7            2.10  3.26     12.4    red
71         8            7.05  3.25     11.1  white
74         7            1.10  3.61     10.3  white
79         7            1.10  3.48     11.0  white
87         7            4.50  3.45     12.6  white
89         7            1.80  3.05     11.8  white
101        7            2.90  3.17     11.0  white
104        7           10.40  3.04     11.5  white
119        7            2.90  3.02      9.5  white
120        7            6.30  3.54     11.6  white

#### alcohol을 기준으로 10도가 넘으면 'strong' 아니면 'weak'으로 표시 (lambda 쓰세요)

In [27]:
df['strong'] = df['alcohol'].apply(lambda x: 'strong' if x > 10 else 'weak')

#### merge 실습을 위해 데이터를 인위적으로 나눠볼게요

In [28]:
df_x = data[['quality', 'fixed acidity', 'citric acid']]

In [29]:
df_y = data[['quality', 'volatile acidity', 'chlorides', 'alcohol']]

In [30]:
df_y = df_y[df_y.quality >= 7]

#### quality를 기준으로 inner join

In [32]:
pd.merge(df_x, df_y, how = 'inner', on = 'quality').head()

   quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0        7            6.2         0.33             0.160      0.057     10.9
1        7            6.2         0.33             0.330      0.038     11.9
2        7            6.2         0.33             0.280      0.029     12.2
3        7            6.2         0.33             0.305      0.047     11.5
4        7            6.2         0.33             0.190      0.053      9.1

#### quality를 기준으로 outer join

In [33]:
pd.merge(df_x, df_y, how = 'outer', on = 'quality').head()

   quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0        5            5.6         0.06               NaN        NaN      NaN
1        5            8.8         0.14               NaN        NaN      NaN
2        5            7.9         0.39               NaN        NaN      NaN
3        5            6.1         0.49               NaN        NaN      NaN
4        5            6.8         0.31               NaN        NaN      NaN

<br>수고하셨습니다! 넘파이와 판다스는 기능이 정말 많아서 이번 세션에서 다 다루진 못했습니다..! <br>
하지만 우리에겐 구글이 있죠 😎 <br>
무수한 블로그와 스택오버플로우를 뒤지다 보면 필요한 기능을 찾으실 수 있습니다<br>
직접 데이터를 만져보면서 여러 함수들을 써보면 저절로 넘파이와 판다스가 손에 익으실 거에요! :)<br>